<nav class="navbar navbar-expand-lg navbar-light mb-4 shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'vitrine:accueil' %}">JO 2024</a>
            <div class="nav-bar dropdown">
                <button class="nav-link dropdown-toggle" href="#" role="button" 
                    data-bs-toggle="dropdown" aria-expanded="false"><strong>GUIDE</strong>
                </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'vitrine:accueil' %}">Accueil</a></li>
                        <li><a class="dropdown-item" href="{% url 'boutique:index' %}">Achat</a></li>
                        <li><hr class="dropdown-divider"></li>
                       
                    </ul>
            </div>      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
{% if user.is_authenticated %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'boutique:index' %}">Bienvenue {{ user.username }},</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'boutique:panier' %}">Panier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'comptes:logout' %}">Déconnexion</a>
                </li>
{% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'comptes:login' %}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'comptes:register' %}">S'inscrire</a>
                </li>
{% endif %}

            </ul>

        </div>
    </div>
</nav>