{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Accueil{% endblock title %}

{% block body %}
<h1 class="container mt-2 mb-5">Achat</h1>

<div class="row row-cols-md-3 row-cols-sm-2">
    {% for produit in produits %}
    <div class="col">
        <div class="card mb-3 shadow" style='width: 18rem;'>
            <div class="card-body">
                <h5 id="n{{ produit.id }}" class="card-title">{{produit.nom}}</h5>
                <p id="p{{ produit.id }}" style="color: green" card-text>{{produit.prix}} Euros</p>
                {% if user.is_authenticated %}
                <button id="{{ produit.id }}" type="button" value="{{  produit.id }}" class="btn ted btn-success">Ajouter au panier</button>
                {% else %}
                <p style="color:brown">Pour acheter un E-Billet veuilliez vous inscrire.</p>
                <a href="{% url 'comptes:register' %}">Inscription</a>
                {% endif %}
            </div>
        </div>

    </div>
    {% endfor %}
</div>


{% endblock body %}

{% block JavaScript %}

<script>
function getCSRFToken() {
    const name = 'csrftoken';
    const cookieValue = document.cookie
        .split('; ')
        .find(row => row.startsWith(name + '='))
        ?.split('=')[1];
    return cookieValue;
}

$(document).on('click', '.ted', function () {
    const item_id = this.id;

    fetch('/ajouter-au-panier/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCSRFToken()
        },
        body: JSON.stringify({ product_id: item_id })
    })
    .then(res => res.json())
    .then(data => {
        if (data.success) {
            alert("Produit ajouté !");
        } else {
            alert("Erreur : " + data.error);
        }
    })
    .catch(err => alert("Erreur AJAX"));
});
</script>

{% endblock JavaScript %}

